<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Sitecolor")
        @Styles.Render("~/Content/themseforestcss")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        
    </head>
    <body>
       @* <!-- preloader-->
	<div class="whitebg">
		<div id="spinner"></div>
	</div>*@

    <header id="header" class="solid-header">
		<div class="centered-wrapper">
		
			<div  id="logoplaceholder">
				<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
			</div><!--end one-fourth-->
			
			<a class="nav-btn"><i class="fa fa-bars"></i></a>
			
			<div class="percent-three-fourth" id="menubar">					
				<nav id="navigation">
					<ul id="mainnav" class="sf-menu">
						<li class="current"><a href="index.html/#hello"><span>Home</span></a></li>
                        <li><a href="index.html#services"><span>SERVICES</span></a></li>
						<li><a href="index.html#about"><span>ABOUT</span></a></li>
                        <li><a href="index.html#twitter"><span>JOURNAL</span></a></li>
						<!--<li><a href="index.html#work"><span>WORK</span></a></li>-->
                        <li><a href="index.html#team"><span>Our Team</span></a></li>						
						<li><a href="index.html#work"><span>EXTRA</span></a>
							<!--<ul>
								<li><a class="external" href="elements.html">Elements</a></li>							
								<li><a class="external" href="portfolio-item-1.html">Portfolio Item 1</a></li>							
								<li><a class="external" href="portfolio-item-2.html">Portfolio Item 2</a></li>							
								<li><a class="external" href="portfolio-item-3.html">Portfolio Item 3</a></li>							
								<li><a class="external" href="portfolio-item-4.html">Portfolio Item 4</a></li>							
								<li><a class="external" href="portfolio-item-5.html">Portfolio Item 5</a></li>							
								<li><a class="external" href="blog-masonry-3-columns.html">Blog - Masonry 3 Cols</a></li>
								<li><a class="external" href="blog-masonry-2-columns.html">Blog - Masonry 2 Cols</a></li>
								<li><a class="external" href="blog-masonry-2-columns-sidebar.html">Blog - Masonry 2 Cols + Sidebar</a></li>
								<li><a class="external" href="blog.html">Blog - Regular Layout</a></li>
								<li><a class="external" href="blog-single.html">Blog - Single</a></li>
							</ul>-->
						</li>							
						<li><a href="index.html#contact"><span>CONTACT</span></a></li>
					</ul>
				</nav><!--end navigation-->
                
			</div><!--end three-fourth-->
            <span class="login">
                <input type="button" name="login" value="Login" id="login" class="button black" />
                <input type="button" name="signup" value="Sign Up" id="signup" class="button black" />
            </span>
			<div class="clear"></div>			
		</div><!--end centered-wrapper-->
       
	</header>	
      @*  <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
        
            @*@RenderSection("featured", required: false)*@
            

                @RenderBody()
            
       
       @* <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@

        <footer id="footer">		
		<div id="bottomfooter">		
			<div class="centered-wrapper">		
				<div class="percent-two-third">
					<p>Copyright &copy; 2014 - Patti | All Rights Reserved</p>
				</div><!--end one-half-->

				<div class="percent-one-third column-last">
					<ul id="social">
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>	
					<!-- You can add social icons for forrst, dribbble, vimeo, linkedin, etc. Just add "<li><a href="#"><i class="fa fa-twitter"></i></a></li>"
					to the list. The social icons are generated by FontAwesome font. Get the icons from http://fontawesome.io/ 	-->	
				</div><!--end one-half-->
			</div><!--end centered-wrapper-->				
		</div><!--end bottomfooter-->
		
		<a href="#" class="totop"><i class="fa fa-angle-double-up"></i></a>
		
	</footer><!--end footer-->	
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
         <script type="text/javascript" src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/themeforest")
        @Scripts.Render("~/bundles/custom")
        

        @RenderSection("scripts", required: false)
    </body>
</html>
